.introduction {
    max-width: 350px;

}
.introduction .btn-contact *{
    transition: .3s transform ease-in-out;
    -webkit-transition: .3s transform ease-in-out;
    -moz-transition: .3s transform ease-in-out;
    -ms-transition: .3s transform ease-in-out;
    -o-transition: .3s transform ease-in-out;
}
.introduction .btn-contact:hover *{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}